/*当浏览器尺寸小于960px时候的代码：*/
@media screen and (max-width: 960px) {
    .main {
        margin: 15px 15px 15px 15px;
        border-radius: 5px;
        padding-bottom: 15px;
        background: white;
    }
}

/*当浏览器尺寸等于960px时候的代码：*/
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .main {
        margin: 15px 30px 30px 30px;
        border-radius: 5px;
        padding-bottom: 15px;
        background: white;
    }
}

/*当浏览器尺寸大于960px时候的代码：*/
@media screen and (min-width: 1366px) {
    .main {
        margin: 15px 180px 30px 180px;
        border-radius: 5px;
        padding-bottom: 15px;
        background: white;
    }
}

body {
    background: #efefef url(../images/bg.jpg) repeat;
    font-family: candara, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, -apple-system;
}

hr {
    margin: 15px;
}

h3 span {
    font-family: Roboto, Arial, sans-serif;
}

li > a {
    text-decoration: none;
    cursor: pointer;
}

#question-wrapper {
    margin-top: 15px;
}

#question-wrapper a {
    text-decoration: none;
}

.hot-nav-title li {
    float: right;
}

.nav-tabs-active {
    background-color: #EEEEEE;
}

.select-nav-title {
}

.select-nav-title span {
    margin: 5px;
}

.nav-title li {
    float: right;
}

.footer {
    color: #666;
    padding: 30px 0 10px;
    font-size: 12px;
    text-align: center;
}

.question-title {
    margin-top: 25px;
}

.question-tags {
    margin: 10px;
    white-space: normal;
}

.tab-item {
    margin-top: 5px;
}

.tag-item-box {
    margin-right: 5px;
}

.tag-box-index {
    margin-top: 15px;
}

.tag-item-box-index {
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #99cfff;
    padding: 3px;
    display: inline-block;
}

.tag-item-box-index a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tag-item-box-index:hover {
    background-color: #00c4ff;
}


#tags-navigation {
    margin-top: 15px;
    display: none;
}

.show-logo {
    width: 25px;
    height: 25px;
}

.show-logo:hover {
    width: 30px;
    height: 30px;
}

.show-logo-head a {
    text-decoration: none;
}

.show-logo-head {
    font-size: 12px;
}

.show-logo-head:hover {
    color: #00c4ff;
    font-size: 15px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0px;
    list-style: none;
    padding-left: 0;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    position: center;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-object-avatar {
    margin-top: 8px;
}

.media-body {
    padding-bottom: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}


.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin: 15px 10px 15px 0px;
}

.span-comment {
    margin-top: 0;
}

.menu {
    color: #999;
    font-size: 12px;
}

.menu .icon {
    margin-right: 6px;
    cursor: pointer;
}

.icon:hover {
    color: #2aabd2;
}

.menu .active {
    color: #2aabd2;
}

.menu .comment-icon:hover {
    color: #2aabd2;
    cursor: pointer;
}

.section-comment {
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.secondary-comment {
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
}

.secondary-comment-item {
    border-bottom: 1px solid #eee;
}

.secondary-comment-reply {
    margin-top: 15px;
}

.secondary-comment-reply input {
    display: inline-block;
    width: 90%;
}

#register-form ul li input {
    height: 40px;
    margin-bottom: 10px;
}

#register-form ul li button {
    border-radius: 3px;
    float: right;
    height: 35px;
    width: 60px;
    background: #01c26f;
    color: #fff;
    font-size: 14px;
    background: -webkit-linear-gradient(#1fd783, #1fd06b);
    background: -o-linear-gradient(#1fd783, #1fd06b);
    background: -moz-linear-gradient(#1fd783, #1fd06b);
    background: linear-gradient(#1fd783, #1fd06b);
    border: transparent 1px;
}

.profile-outline {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    background: white;
    margin-left: 10px;
    min-height: 480px;
}

.main-outline {
    background: white;
    min-height: 480px;
}

.profile-avatar {
    height: 160px;
    width: 160px;
}

.profile-detail-list {
    background: white;
    padding: 15px;
    min-height: 480px;
}

.main-detail-list {
    background: white;
    padding: 15px;
    min-height: 480px;
}

.profile-detail a {
    display: inline;
    cursor: pointer;
}

.profile-name {
    text-align: center;
}

.profile-detail {
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
}

.profile-detail a {
    font-size: 20px;
    text-decoration: none;
}

.profile-name {
    font-size: 24px;
}

.following-list {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.follower-list {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.profile-operate {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}

.profile-operate a {
    font-size: 20px;
    text-decoration: none;
}

.number-board {
    display: flex;
}

.number-board-item {
    flex: 1 1;
}

.number-board-last {
    border-left: 1px solid #f6f6f6;
}

.editor-main {
    margin: 15px;
    background: white;
}