<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title,links,styles)" class="header">
    <title th:replace="${title}">以辰社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/x-icon" th:href="@{/images/yichen.ico}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/community.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="/css/editormd.min.css" />

    <script type="application/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/community.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/lib/marked.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/lib/prettify.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>


    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    <!--/* Per-page placeholder for additional styles */-->
    <th:block th:replace="${styles}" />
</head>
</html>