<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.localStorage.removeItem("closable");
            window.close();
        }
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div>
                <ul class="nav nav-tabs nav-title" role="tablist">
                    <h3 class="select-nav-title"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h3>
                    <li role="presentation" th:class="${type == 6 ? 'active' : ''}"><a th:href="@{/(type=6)}" style="color: red">消灭零回复</a></li>
                    <li role="presentation" th:class="${type == 1 ? 'active' : ''}"><a th:href="@{/(type=1)}">推荐</a></li>
                    <li role="presentation" th:class="${(type == 2 || type == 3 ||  type == 4  || type == 5)? 'active' : ''}"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">热门</a></li>
                    <li role="presentation" th:class="${type == null ? 'active' : ''}"><a href="/">最新</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel"  th:class="${(type == 2 || type == 3 ||  type == 4  || type == 5)? 'active tab-pane' : 'tab-pane'}" id="hot">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a th:href="@{/(type=2)}" >30天</a></li>
                        <li><a th:href="@{/(type=3)}" >15天</a></li>
                        <li><a th:href="@{/(type=4)}" >7天</a></li>
                        <li><a th:href="@{/(type=5)}" >全部</a></li>
                    </ul>
                </div>
                <div role="tabpanel" th:class="${type == null ? 'tab-pane active' : 'tab-pane'}" id="new"></div>
                <div role="tabpanel" th:class="${type == 1 ? 'tab-pane active' : 'tab-pane'}" id="commend"></div>
                <div role="tabpanel" th:class="${type == 6 ? 'tab-pane active' : 'tab-pane'}" class="tab-pane" id="zero"></div>
            </div>
            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <!--<span th:text="${question.description}"></span><br/>-->
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个评论 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}">13 Aug 2019</span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.isShowFistPage()}" aria-label="First">
                        <a th:href="@{/(page=${1}, search=${search}, type=${type})}" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.isShowPrevious()}">
                        <a th:href="@{/(page=${pagination.currentPage - 1}, search=${search}, type=${type})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage==page}?'active':''"><a
                            th:href="@{/(page=${page}, search=${search}, type=${type})}" th:text="${page}">page</a></li>
                    <li th:if="${pagination.isShowNext()}">
                        <a th:href="@{/(page=${pagination.currentPage + 1}, search=${search}, type=${type})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.isShowEndPage()}">
                        <a th:href="@{/(page=${pagination.totalPage}, search=${search}, type=${type})}" aria-label="End">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-top: 30px">热门话题</h3>
            <div class="tag-box-index">
                <p th:each="count,tagStat : ${tags}" style="margin-top: 15px">
                    <span th:if="${tagStat.count <= 5}" class="tag-item-box-index">
                        <a th:text="${tagStat.current}" th:href="@{/(tag=${tagStat.current})}" ></a>
                    </span>
                </p>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-top: 30px">关于本人</h3>
            <div class="show-logo-head">
                <a href="https://github.com/cyt574" class="show-logo-head">
                    <img src="/img/github.png" class="img-rounded show-logo" alt="Github">cyt574
                </a>
            </div>
            <div class="show-logo-head">
                <a href="https://weibo.com/3891541809" class="show-logo-head">
                    <img src="/img/weibo.png" class="img-rounded show-logo" alt="微博">代码堂
                </a>
            </div>

        </div>
    </div>
</div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>