<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal" class="modal-popup">
    <div class="modal fade" id="login-modal" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content" style="border:none;">
                <div th:insert="~{login :: login}" id="login-page"></div>
                <div th:insert="~{register :: register}" id="register-page" style="display: none"></div>
            </div>
        </div>
    </div>
</div>
</html>



