<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head(~{::title},~{},~{})">
    <title>修改密码 - 以辰社区</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron">
    <div th:if="${session.user.email == null}">
        <h1>请确认</h1>
        <p>你好，未设置账户邮箱点击下方按钮跳转</p>
        <p><a th:href="@{/profile/detail}" class="btn btn-primary btn-lg" role="button">账户修改</a></p>
    </div>
    <div th:if="${session.user.email != null}" id="main-fragment">
        <h1>请确认</h1>
        <p>你好，需要通过邮件发送验证码到你的邮箱： <span th:text="${session.user.email}"> </span>确认您的身份</p>
        <p>
            <button class="btn btn-primary btn-lg" onclick="sendSecurityCode()" role="button">发送邮件</button>
        </p>
    </div>

    <h1>请确认</h1>
    <p>你好，请输入新的密码： <input id="changed-password" name="changed-password" type="password" placeholder="请输入新密码"/></p>
    <p>再次确认： <input id="second-password" name="second-password" type="password" placeholder="再次输入新密码"/></p>
    <p>
        <button class="btn btn-primary btn-lg" onclick="doChangePassword()" role="button">确定</button>
    </p>

</div>
<div th:insert="~{footer :: foot}"></div>
<script>
    var mainFragment = $("#main-fragment");

    function sendSecurityCode() {
        $.get({
            url: '/profile/sendSecurityCodeByEmail',
            success: function (resp) {
                console.log(resp);
                if (resp == 200) {
                    showInputSecurityCode();
                }
            }
        });
    }


    function showInputSecurityCode() {
        mainFragment.empty();
        var inputSecurityCode = '        <h1>请输入验证码</h1>\n' +
            '        <p>你好，验证码已经发送到你的邮箱，请输入验证码： <input id="security-code" name="security-code" type="text" placeholder="请输入验证码"/> 确认您的身份</p>\n' +
            '        <p><button class="btn btn-primary btn-lg" onclick="checkSecurityCode()" role="button">验证</button></p>';
        mainFragment.append(inputSecurityCode)
    }

    function checkSecurityCode() {
        var inputSecurityCode = $("#security-code").val();
        $.get({
            url: '/profile/checkSecurityCode',
            success: function (resp) {
                console.log(resp);
                if (resp == 200) {
                    showChangePassword();
                }
            }
        });
    }

    function showChangePassword() {
        mainFragment.empty();
        var changePassword = '';
        mainFragment.append(changePassword);
    }

    function doChangePassword() {
        var changedPassword = $("#changed-password").val();
        var secondPassword = $("#second-password").val();
        if (changedPassword != secondPassword) {
            swal("密码输入不一致", "密码前后输入不一致，请重新输入", "warning");
            $("#changed-password").val("");
            $("#second-password").val("");
        } else {
            $.get({
                url: '/profile/changePassword',
                data: {
                    password: changedPassword,
                    secondPassword: secondPassword
                },
                success: function (resp) {
                    console.log(resp);
                    if (resp == 200) {
                        swal(data.message, "你的密码修改成功，撒花庆祝~", "success", {
                            buttons: false,
                            timer: 2000,
                        }).then((resp) => {
                            window:location.href = "/"
                        })
                    } else {
                        swal(resp.message, resp.message, "warning");
                    }
                }
            });
        }

    }

</script>
</body>
</html>